/* General */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}

.container {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
}

.nav-right > ul > li,
.nav-left > ul > li{
    display: inline-block;
    padding: 30px 30px;
    cursor: pointer;
}

.box-1 ul > li {
    display: block;
}

li > img {
    width: 20px;
    vertical-align: -0.3em;
}

.flex {
    display: flex;
}

.visible {
    display: block;
}
/* Style */
.nav-left ul > li:nth-child(2) {
    font-weight: bold;
}

.nav-left ul > li:nth-child(3) {
    color: #888888;
}

.nav-left ul > li:nth-child(3):hover {
    color: #000;
}

.nav-right ul > li span {
    color: #888888;
}

.nav-right ul > li span:hover {
    color: #000;
}

/* Buttons */
#first-btn {
    font-weight: bold;
    padding: 15px;
    border-radius: 10px;
    outline: none;
    border: none;
    cursor: pointer;
}

#second-btn {
    font-weight: bold;
    padding: 15px;
    border-radius: 10px;
    outline: none;
    border: none;
    cursor: pointer;
    background-color: #000;
    color: #fff;
}

/* Box per Dropdown */
.box-1 { 
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}

.box-1 ul > li:first-child {
    color: #000;
    font-weight: bold;
}

.box { 
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}

.box-1 li,
.box li
{
    list-style-type: none;
    padding: 15px;
    color: #888888;
}

.box li:hover {
    color: #000;
}

.box-1 li:hover {
    color: #000;
}